@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

/* --------------------------------- variables --------------------------------- */

:root {
    --gradTopLight: hsl(144, 100%, 89%);
    --gradBottomLight: hsl(42, 94%, 76%);

    --gradTopDark: hsl(198, 44%, 11%);
    --gradBottomDark: hsl(198, 39%, 29%);

    --white: hsl(0, 100%, 99%);
    --grey: hsl(0, 0%, 33%);
    --greyShadow: hsla(0, 0%, 33%, 0.48);

    --textSmall: 20px;
    --textMedium: 32px;
    --textLarge: 46px;
}

/* --------------------------------- body --------------------------------- */

body {
    font-family: Merriweather, serif;
}

/* --------------------------------- main --------------------------------- */

main {
    background: linear-gradient(to bottom, var(--gradTopLight), var(--gradBottomLight));
}

/* --------------------------------- header --------------------------------- */

.header-container {
    position: fixed;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    width: 100%;
    z-index: 1000;
}

.header-block-left {
    margin: auto 0;
}

.header-block-right {
    margin: auto 0;
}

.header-text {
    margin-left: 40px;
    margin-right: 40px;
    font-size: var(--textSmall);
}

.header-decoration {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid var(--grey);
    box-shadow: 0 5px 14px -2px var(--greyShadow);
}

/* --------------------------------- intro --------------------------------- */

.intro-container {
    min-height: 100vh;
}

.intro-avatar {
    padding-top: 150px;
}

.intro-img {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}

.intro-name-text {
    font-size: var(--textLarge);
    text-align: center;
}

.intro-text {
    font-size: var(--textMedium);
    text-align: center;
}

.intro-social {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.intro-scroll-container {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.intro-scroll-img {
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
}

.intro-scroll-animation {
    animation-duration: 1.5s;
    animation-iteration-count: 3;
    animation-name: bounce;
    animation-timing-function: ease;
    transform-origin: bottom;
    transform: translate(-50%, 0);
}

@keyframes bounce {
    0%   { transform: translate(-50%, 0); }
    20%  { transform: translate(-50%, -30px); }
    50%  { transform: translate(-50%, 0); }
    100% { transform: translate(-50%, 0); }
}

/* --------------------------------- about me --------------------------------- */

.about-me-container {
    padding-bottom: 200px;
}

.about-me-field {
    background-color: var(--white);
    padding: 40px;
}

.about-me-text {
    font-size: var(--textSmall);
}

/* --------------------------------- timeline --------------------------------- */

.timeline-cards {
    padding-bottom: 200px;
}

.timeline-cards:before {
    content: "";
    position: absolute;
    left: 50%;
    height: 323%;
    width: 4px;
    background: var(--grey);
    margin-left: -2px;
}

.timeline-card-container {
    padding-top: 50px;
}

.timeline-img-item {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}

.timeline-img-item-decor {
    height: 60px;
    width: 60px;
    background-color: var(--gradTopLight);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px !important;
    z-index: 1;
}

.timeline-img {
    width: 30px;
    height: 30px;
}

.timeline-card {
    background-color: var(--white);
    width: 600px;
    margin-top: -60px;
    padding: 40px;
}

.timeline-card-left {
    margin-left: 40px;
    margin-right: auto;
}

.timeline-card-right {
    margin-right: 40px;
    margin-left: auto;
}

.timeline-card-animation {
    visibility: visible;
    animation-delay: 10s;
}

.timeline-card-animation-left {
    animation: appear-left 0.7s;
}

@keyframes appear-left {
    0% {
        transform: translate(-20px, 0);
        opacity: 0;
    }
    60% {
        transform: translate(100px, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
    }
}

.timeline-card-animation-right {
    animation: appear-right 0.7s;
}

@keyframes appear-right {
    0% {
        transform: translate(20px, 0);
        opacity: 0;
    }
    60% {
        transform: translate(-100px, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
    }
}

.timeline-img-item-animation {
    visibility: visible;
    animation: beat 0.7s;
}

@keyframes beat {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    60% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.timeline-title-text {
    font-size: var(--textMedium);
}

.timeline-description-text {
    font-size: var(--textSmall);
}

/* --------------------------------- portfolio --------------------------------- */

.portfolio-container {
    padding-bottom: 200px;
}

.portfolio-cards-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 350px;
    background-color: var(--white);
    padding: 40px 40px 72px;
}

.project-name {
    font-size: var(--textMedium);
    text-align: center;
}

.project-img-holder {
    margin: 0 auto;
    width: fit-content;
}

.project-img {
    margin: 20px auto;
    height: 100px;
    width: auto;
}

.project-link {
   margin-top: 60px;
}

.project-link-img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

/* --------------------------------- footer --------------------------------- */

.footer-container {
    background-color: var(--white);
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}

.footer-contact-me-text {
    font-size: var(--textSmall);
    margin-right: 30px;
}

.footer-decoration {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid var(--grey);
}

/* --------------------------------- mixins --------------------------------- */

.text-decoration-remover {
    text-decoration: none;
    cursor: pointer;
}

.text-decoration-underline:hover {
    text-decoration: underline;
}

.text-decoration-remover:visited, .text-decoration-remover:hover, .text-decoration-remover:active {
    color: inherit;
}

.section-title {
    font-size: var(--textMedium);
    text-align: center;
}

.section-card {
    font-size: var(--textSmall);
    line-height: var(--textMedium);
    margin-bottom: 10px;
}

.card-decoration {
    border-radius: 5px;
    border: 1px solid var(--grey);
    box-shadow: 5px 5px 14px -2px var(--greyShadow);
}

.social-img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 15px;
}
