@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

/* --------------------------------- variables --------------------------------- */

:root {
    --textSmall: 20px;
    --textMedium: 32px;
    --textLarge: 46px;
}

/* --------------------------------- body --------------------------------- */

body {
    font-family: Merriweather, serif;
}

.theme-light {
    --gradTop: hsl(144, 100%, 89%);
    --gradBottom: hsl(42, 94%, 76%);
    --contrastBackground: hsl(0, 100%, 99%);
    --border: hsl(0, 0%, 33%);
    --borderShadow: hsla(0, 0%, 33%, 0.48);
    --textColor: hsl(0, 0%, 0%);
    --codeBackground: hsla(210, 12.9%, 12.2%, 0.05);
}

.theme-dark {
    --gradTop: hsl(198, 39%, 29%);
    --gradBottom: hsl(198, 44%, 11%);
    --contrastBackground: rgb(182, 215, 228);
    --border: hsl(180, 4%, 43%);
    --borderShadow: hsla(0, 0%, 89%, 0.48);
    --textColor: hsl(0, 0%, 100%);;
    --codeBackground: hsla(210, 12.9%, 12.2%, 0.05);
}

/* --------------------------------- main --------------------------------- */

main {
    background: linear-gradient(to bottom, var(--gradTop), var(--gradBottom));
}

/* --------------------------------- button --------------------------------- */

button {
    border: none;
    padding: 0;
    background: none;
}

/* --------------------------------- header --------------------------------- */

.header-container {
    position: fixed;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: var(--contrastBackground);
    width: 100%;
    z-index: 1000;
}

.header-block-left {
    margin: auto 0;
}

.header-block-right {
    margin: auto 0;
}

.header-text {
    margin-left: 40px;
    margin-right: 40px;
    font-size: var(--textSmall);
    color: var(--textColor);
}

.header-decoration {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid var(--border);
    box-shadow: 0 5px 14px -2px var(--borderShadow);
}

.header-theme-changer {
    margin: auto 40px auto auto;
}

.header-theme-changer:hover {
    cursor: pointer;
}

.header-theme-changer-img {
    width: 60px;
    height: 60px;
}

/* --------------------------------- intro --------------------------------- */

.intro-container {
    min-height: 100vh;
}

.intro-avatar {
    padding-top: 200px;
}

.intro-img {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.intro-name-text {
    font-size: var(--textLarge);
    text-align: center;
    color: var(--textColor);
}

.intro-text {
    font-size: var(--textMedium);
    text-align: center;
    color: var(--textColor);
}

.intro-social {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.intro-scroll-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

.intro-scroll-img {
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
}

.intro-scroll-animation {
    animation-duration: 1.5s;
    animation-iteration-count: 3;
    animation-name: bounce;
    animation-timing-function: ease;
    transform-origin: bottom;
}

@keyframes bounce {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0, -30px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* --------------------------------- about me --------------------------------- */

.about-me-container {
    padding-bottom: 200px;
}

.about-me-field {
    background-color: var(--contrastBackground);
    padding: 40px;
}

.about-me-text {
    font-size: var(--textSmall);
}

/* --------------------------------- timeline --------------------------------- */

.timeline-cards {
    padding-bottom: 200px;
}

.timeline-cards:before {
    content: "";
    position: absolute;
    left: 50%;
    height: 550%;
    width: 4px;
    background: var(--border);
    margin-left: -2px;
}

.timeline-card-container {
    padding-top: 50px;
    z-index: 10;
}

.timeline-img-item {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}

.timeline-img-item-decor {
    height: 60px;
    width: 60px;
    background-color: var(--gradTop);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px !important;
    z-index: 1;
}

.timeline-img {
    width: 30px;
    height: 30px;
}

.timeline-card {
    background-color: var(--contrastBackground);
    width: 600px;
    margin-top: -60px;
    padding: 40px;
}

.timeline-card-left {
    margin-left: 40px;
    margin-right: auto;
}

.timeline-card-right {
    margin-right: 40px;
    margin-left: auto;
}

.timeline-card-animation {
    visibility: visible;
    animation-delay: 10s;
}

.timeline-card-animation-left {
    animation: appear-left 0.7s;
}

@keyframes appear-left {
    0% {
        transform: translate(-20px, 0);
        opacity: 0;
    }
    60% {
        transform: translate(100px, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
    }
}

.timeline-card-animation-right {
    animation: appear-right 0.7s;
}

@keyframes appear-right {
    0% {
        transform: translate(20px, 0);
        opacity: 0;
    }
    60% {
        transform: translate(-100px, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
    }
}

.timeline-img-item-animation {
    visibility: visible;
    animation: beat 0.7s;
}

@keyframes beat {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    60% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.timeline-title-text {
    font-size: var(--textMedium);
}

.timeline-description-text {
    font-size: var(--textSmall);
    line-height: 1.5;
}

.timeline-description-text-listed {
    line-height: 1.5;
}

/* --------------------------------- portfolio --------------------------------- */

.portfolio-container {
    padding-bottom: 200px;
}

.portfolio-cards-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 350px;
    background-color: var(--contrastBackground);
    padding: 40px 40px 72px;
}

.project-name {
    font-size: var(--textMedium);
    text-align: center;
}

.project-img-holder {
    margin: 0 auto;
    width: fit-content;
}

.project-img {
    margin: 20px auto;
    height: 100px;
    width: auto;
}

.project-link {
    margin-top: 60px;
}

.project-link-img {
    margin-right: 10px;
}

/* --------------------------------- footer --------------------------------- */

.footer-container {
    background-color: var(--contrastBackground);
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}

.footer-contact-me-text {
    font-size: var(--textSmall);
    margin-right: 30px;
}

.footer-decoration {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid var(--border);
}

/* --------------------------------- mixins --------------------------------- */

.text-decoration-remover {
    text-decoration: none;
    cursor: pointer;
}

.text-decoration-underline:hover {
    text-decoration: underline;
}

.text-decoration-nav-onsite {
    text-decoration: underline;
}

.text-decoration-remover:visited, .text-decoration-remover:hover, .text-decoration-remover:active {
    color: inherit;
}

.section-title {
    font-size: var(--textMedium);
    text-align: center;
    color: var(--textColor);
}

.section-card {
    font-size: var(--textSmall);
    line-height: var(--textMedium);
    margin-bottom: 10px;
}

.card-decoration {
    border-radius: 5px;
    border: 1px solid var(--border);
    box-shadow: 5px 5px 14px -2px var(--borderShadow);
}

.social-img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.external-link-img {
    width: 14px;
    height: 14px;
}

.external-link-img-decor {
    margin-left: 10px;
}

.code-text {
    background-color: var(--codeBackground);
    border-radius: 6px;
    font-weight: 600;
    line-height: 1.25;
    padding: 4px 8px;
}